{% extends 'base.html.twig' %}

{% block main %}
<main id="home-page">
    <h1 class="page-title">Blog de la piscine</h1>
	<article class="home-article">
		<h2 class="article-title">Bienvenue sur notre blog !</h2>
		<p class="article-description">Découvrez nos derniers articles et plongez dans l'univers de la piscine.</p>
		<div><img src="{{ asset('images/piscine.jpg') }}" alt="Image de la piscine" class="article-image"></div>
		<p class="article-content">Nous partageons des conseils, des astuces et des informations sur l'entretien de votre piscine, les tendances en matière de design et bien plus encore.</p>
	</article>
</main>
{% endblock main %}
