{% extends 'base.html.twig' %}

{% block main %}
<main>

	<h1>Liste des articles</h1>


        {% for article in articles %} 
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <img src="{{ article.image }}" alt="Image de l'article">
                <p>{{ article.content }}</p>
            </article>
        {% endfor %}

</main>
	
{% endblock main %}
